theme = "kanagawa"

[editor]
cursorline = true
auto-format = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true

[keys.normal]
"C" = ["select_mode", "goto_line_end", "change_selection"]
"D" = ["select_mode", "goto_line_end", "delete_selection"]
